.container-celda{
    background-color:pink;
    width: 50%;
    align-items: center;
    text-align: center;
    padding-top:10px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;

    > h1{ 
        color: black;
        font-size: 40px;

    }
    >&__button{
        display:flex;
        justify-content: space-between;

        >button{
            padding: 4px, 4px, 4px, 4px;
            background-color:black;
            color: pink
        }

    }




    
}